gen
bin
linker.jar
optimizer.jar
/linker
/optimizer
autom4te.cache
config.log
config.status
configure
/Makefile
*.deb
*.rpm
/pencil-linker
/pencil-optimizer
/work
/packages/ebuild/app-misc/pencil-tools/pencil-tools-9999.ebuild
pencil-tools-9999.ebuild
/pencil.jar
/docs
